*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
}


body {
    --sb-track-color: #ad9797;
    --sb-thumb-color: #791667;
    --sb-size: 7px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 6px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 6px;
    
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }